<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <import resource="classpath:service-context.xml"/>

    <bean id="appProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="singleton" value="true"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>file:${user.home}/mentorconfiguration/mentorconfig.properties</value>
            </list>
        </property>
    </bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="appProperties"/>
    </bean>


    <!-- Load messages -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" p:basenames="messages"/>

    <context:component-scan base-package="com.travel.mentor.web"/>

    <context:annotation-config/>

    <!--<bean id="defaultHandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>-->

    <bean id="sessionHelper" class="com.travel.mentor.web.core.SessionHelperImpl" />

    <!--<bean id="webSessionUtil" class="com.travel.mentor.web.util.WebSessionUtil">-->
        <!--<property name="userService" ref="userService"/>-->
        <!--<property name="referenceService" ref="referenceService"/>-->
        <!--<property name="jspConfirmationUtil" ref="jspConfirmationUtil" />-->
        <!--<property name="sessionHelper" ref="sessionHelper" />-->
        <!--&lt;!&ndash;<property name="reportServerUrl" ref="reportServerUrl"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="reportDirUrl" ref="reportDirUrl"/>&ndash;&gt;-->
    <!--</bean>-->

</beans>