@font-face {
   src: local("Arial");
   fontFamily: Arial;
   fontWeight: normal;
}
 
@font-face {
   src: local("Arial");
   fontFamily: Arial;
   fontWeight: bold;
}

.ezytab {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 12px;
   fontStyle:normal;	
   fontWeight: bold;
   borderColor: cdddd1;   
   backgroundColor: #cdddd1;
}

.ezyhomepagetopbanner {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   borderColor: cdddd1;
   backgroundColor: #7BD37B;	
}

/* #D5D69F*/

.ezyfooter {
   fontFamily: Verdana;
   fontWeight: bold;
   fontSize: 13px;   
   borderColor: #2F89CE;   
   fillColors: #a7d4f7, #2f89ce;
   fillAlphas: 1.0, 1.0;
}

.ezytopbanner {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   borderColor: cdddd1;
   backgroundColor: #B4D6C3;	
}

.ezygroupheader {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 12px;
   fontStyle:normal;	
   fontWeight: bold;
   borderColor: #B4D6C3;   
   backgroundColor: #cdddd1;
}

.ezytitlewindowheader {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 14px;
   fontStyle:normal;   
   borderColor: #cdddd1;   
   backgroundColor: #cdddd1;
}

.ezylabel{
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontStyle:normal;	
   fontSize: 11px;   
}

.ezycheckbox{
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontStyle:normal;	
   fontSize: 12px;
   fontWeight: bold;   
}

.ezyheaderlabel {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontStyle:normal;	
   fontSize: 12px;  
}	

.ezydatefield{
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 11px;   
}

.ezyradiobutton{
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;   
   fontWeight: bold;	
   fontSize: 11px;    
}

.ezytextarea{
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 11px;    
}

.ezycombobox {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 11px;    
}

.ezytextinput {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 11px;    
}

.ezybigbutton{
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontWeight: bold;
   fontSize: 14px;   
   borderColor: #2F89CE;   
   fillColors: #56AEF2, #47A3EA;
   fillAlphas: 1.0, 1.0;        
}

.ezybutton{
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontWeight: bold;
   fontSize: 12px;   
   borderColor: #2F89CE;   
   fillColors: #56AEF2, #47A3EA;
   fillAlphas: 1.0, 1.0;        
}

.ezybuttonsmall{
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontWeight: normal;
   fontSize: 11px; 
   borderColor: #2F89CE;   
   fillColors: #56AEF2, #47A3EA;
   fillAlphas: 1.0, 1.0; 
}

.ezycanvas {
   borderColor: #67a95e;
   borderStyle: solid;
   borderThickness: 1;  	
}	

.ezypanelheader {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 20px;
   fontStyle: italic;
   borderStyle: none;   
   backgroundColor: #C3C5D2;  
}
.ezyadvancedOptionsPanelHeader {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 16px;
   fontStyle: normal;
   borderStyle: none;
   borderThickness:1;   
   backgroundColor: #d5ebd3;  
}

.ezymenu {
   fontFamily: Verdana;
   fontWeight: bold;
   fontSize: 13px;   
   borderColor: #2F89CE;   
   fillColors: #a7d4f7, #2f89ce;
   fillAlphas: 1.0, 1.0;
}

.ezyblogPanel {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 12px;
   fontStyle: normal;
   borderStyle: none;
   borderThickness:1;     
   borderColor: #B4D6C3;   
   backgroundColor: #cdddd1;   
}

.ezydataGrid {
   fontFamily: Verdana;   
   fontSize: 11px;
   fontStyle: normal;    
   borderColor: #80A0B6;  
   backgroundColor: #B5B0B0;
   headerColors: #a7d4f7, #2f89ce;
}

.ezyshowmapinfowindowheader {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 14px;
   fontWeight: bold;
   fontStyle: normal;
   borderStyle: none;   
   backgroundColor: #C3C5D2;
   borderAlpha:1;  
   borderThickness:1;
   cornerRadius:20;
   horizontalGap:2;
   paddingLeft:2;
   paddingTop:2;
   paddingRight:2;
   paddingTop:2;
   verticalGap:2;
}

.ezycontainerForMarkerInfo {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 11px;
   fontStyle: normal;
   fontWeight: normal;
   borderStyle: outset;   
   borderColor:#200E0E;
   borderThickness:1;
   backgroundColor:#bfcacb;     
   borderAlpha:1;  
   borderThickness:1;
   cornerRadius:20;
   horizontalGap:2;
   paddingLeft:2;
   paddingTop:2;
   paddingRight:2;
   paddingTop:2;
   verticalGap:2;
}	

.ezymapinfotext {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 10px;  
   fontWeight: normal;
   fontStyle: normal;  
   color:#1C6372;   
}

.ezyhintwindow {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 18px;
   fontStyle: italic;
   borderStyle: none;   
   backgroundColor: #C3C5D2;
}

.ezytextbox {
   fontFamily: Verdana;
   fontSize: 11px;
   fontStyle: normal;
   height: 20;    
}

.ezytextAreaBlog {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 12px;
   fontStyle: normal;
   borderStyle: none;   
   backgroundColor: #C3C5D2; 
}

.ezytextForMarkerInfo {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 11px;  
   fontWeight: bold;
   fontStyle: normal;    
   backgroundColor:#bfcacb;     
   borderStyle: none;     
}

.ezytextAreaForMarkerInfo {
   fontFamily: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   fontSize: 11px;  
   fontWeight: normal;
   fontStyle: normal;    
   backgroundColor: #C3C5D2;   
   borderStyle: none;     
}

